:root{
  /** Primary */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  
  /** Neutral */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Poppins';
}

body > *{
  font-size: 15px;
}

.tog-con{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  
}

.toggle{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  
}

.reference{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  opacity: 1;
  
}

.hidden{
  display: none;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 100%;
}

.attribution-link{
  color: hsl(228, 45%, 44%);
}

.main-container{
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  padding-top: 5.2rem;
  background-color: var(--Very-Light-Gray);
}

.site-intro{
 margin-bottom: 4.8rem;
}

.intro-title{
  font-size: 1.5rem;
  text-align: center;
  color: var(--Very-Dark-Blue);
  font-weight: 200;
  word-spacing: 2px;
  margin-bottom: 1rem;
}

.accent-text{
  display: block;
  width: 100%;
  font-weight: 600;
}

.intro-text{
  text-align: center;
  line-height: 1.56rem;
  word-spacing: 1px;
  color: var(--Grayish-Blue);
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: white;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 1.35rem 1.8rem;
  border-radius: 8px;
  box-shadow: 1px 10px 10px rgba(128, 128, 128, 0.2);
}

.united-cards{
  width: 100%;
}

.card-title{
  font-size: 1.2rem;
  margin-bottom: 0.33rem;
}

.card-text{
  font-size: 0.8rem;
  word-spacing: 1.3px;
  line-height: 1.4rem;
  margin-bottom: 2rem;
  color: var(--Grayish-Blue);
}

.card-img-container{
text-align: right;
}

.card-img{
  width: 3.6rem;
}

.supervisor-card{
  border-top: 5px solid var(--Cyan);
}

.team-builder-card{
  border-top: 5px solid var(--Red);
}

.karma-card{
  border-top: 5px solid var(--Orange);
}

.calculator-card{
  border-top: 5px solid var(--Blue);
}

@media screen and (min-width: 67.5rem) {
  .main-container{
    padding-top: 5rem;
  }

  .site-intro{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 3.8rem;
  }

  .intro-title{
    font-size: 2.2rem; 
    word-spacing: 8px;
    font-stretch: expanded;
  }

  .accent-text{
    word-spacing: 2px;
    font-size: 2.5;
    font-stretch: extra-expanded;
  }

  .intro-text{
    width: 60%;
  }

  .cards{
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1.8rem;
  }

  .card{
    width: 22rem;
    padding: 1.6rem 2rem;
    height: 15.5rem;
  }

  .card-title{
    font-weight: 500;
    font-size: 1.25rem;
  }

  .united-cards{
    width: fit-content;
  }

  .team-builder-card{
    margin-bottom: 2rem;
  }

  .card-text{
    margin-bottom: 2.7rem;
  }

  .card-img-container{
  }

  .card-img{
    width: 4rem;
  }
}